* {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
}

h1 {
    font-size: 2.5em;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}

#title {
    color: white;
    padding: 3%;
}

.nodes {
    color: white;
    font-size: 3em;
}

.mother {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.status {
    padding: 1%;
    color: green;
    font-size: 3em;
}

.cold {
    color: green;
}

.hot {
    color: red;
}

#forest {
    color: white;
    font-size: 2.5em;
}

.footer {
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    padding: 2%;
}

.footer p {
    padding: 2%;
}